body {
  width: 100vw;
  height: 100vh;
  background-color: #fedfe7;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #7bb5b7;
  margin: 0;
  padding: 0;
}

.container {
  width: 900px;
  margin: auto;
  height: 900px;
  position: relative;
  background-image: url("../assets/images/background.jpeg");
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 300px;
}

#hangman {
  position: absolute;
  left: 30px;
  bottom: 300px;
  width: 250px;
  height: 250px;
  border: 5px solid #f488ac;
  background-color: #eee3d9;
  border-radius: 10px;
  background-position: center;
  background-size: 200px;
  background-repeat: no-repeat;
}

.man0 {
  background-image: url("../assets/images/0.png");
}

.man1 {
  background-image: url("../assets/images/1.png");
}

.man2 {
  background-image: url("../assets/images/2.png");
}

.man3 {
  background-image: url("../assets/images/3.png");
}
.man4 {
  background-image: url("../assets/images/4.png");
}
.man5 {
  background-image: url("../assets/images/5.png");
}
.man6 {
  background-image: url("../assets/images/6.png");
}
.man7 {
  background-image: url("../assets/images/7.png");
}
.man8 {
  background-image: url("../assets/images/8.png");
}
.man9 {
  background-image: url("../assets/images/9.png");
}
.man10 {
  background-image: url("../assets/images/10.png");
}

#dummy-array {
  padding: 0;
  display: flex;
  align-items: flex-end;
  margin-top: 25px;
}

#dummy-array li {
  list-style: none;
  width: 20px;
  margin: 0 5px;
  height: 50px;
  border-bottom: 2px solid #f488ac;
}

h3 {
  color: #f488ac;
  margin: 20px;
}

h1 {
  margin: 0;
  padding-top: 20px;
  text-transform: uppercase;
  font-size: 40px;
}

#play-box,
#word-box,
#word {
  display: none;
}

#message-box {
  padding: 20px;
  position: absolute;
  bottom: 520px;
  right: 20px;
  background-color: #eee3d9;
  border: 5px solid #f488ac;
  border-radius: 10px;
}

button {
  margin-top: 20px;
  background-color: #eee3d9;
  color: #7bb5b7;
  text-transform: uppercase;
  border: 5px solid #f488ac;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

button:hover {
  background-color: #7bb5b7;
  color: #fedfe7;
}

input {
  background-color: #eee3d9;
  color: #7bb5b7;
  border: 2px solid #7bb5b7;
}

p,
li {
  font-size: 35px;
}

#box {
  position: absolute;
  padding: 20px;
  right: 20px;
  bottom: 40px;
  background-color: #eee3d9;
  border: 5px solid #f488ac;
  border-radius: 10px;
}

#alphabet {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: auto;
}

#alphabet input {
  display: none;
}

#alphabet label {
  font-size: 20px;
  width: 35px;
  height: 35px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #f488ac;
  border-radius: 5px;
}

.used {
  background-color: #f488ac;
  color: #f488ac;
}
